.event-info {
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 18px;
    width:30%;
    align-self: left;
    margin-right: auto;
    margin-left: 15px;
    font-family: sans-serif;
}

.event-info .col-md-2{
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

#date{
    color: #d0dbf6;
    background: rgba(126, 157, 231, 0.7);
    text-align: center;
}

#social{
    background: transparent;
}

.event-info h1, .event-info a{
    font-family: 'Raleway', sans-serif;
    background: rgba(0,0,0,0.5);
    color: #d0dbf6;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-right: 5px;
    padding-left: 2px;
}

.event-info a:hover{
    color: orange;
    text-decoration: none;
}