

strong{
    background-color: #337ba7;
    color: white;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

.scholarship-row{
    margin-top: 250px;
    padding-top: 20px;
    border-top: 1px solid grey;
    font-family: sans-serif;
}

.scholarship-row p{
    
    margin-left: 30px;
}